*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nunito Sans', sans-serif; */
    /* font-family: 'Saira Condensed', sans-serif; */
    font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
    font-weight: bold;
    /* overflow-x: hidden; */
}
::-webkit-scrollbar{
    display: none;
}